<% _.forEach(svg, function(svgItem) { %>
  @mixin <%= common %>-i-<%= svgItem.name %>($size, $display:inline-block) {
    content: '';
    display: $display;
    width: rem($size * <%= svgItem.relWidth %>);
    height: rem($size * <%= svgItem.relHeight%>);
    background-image: url("<$= svgPath %>");
    background-repeat: no-repeat;
    background-position: rem($size * <%= svgItem.relPositionX %>) rem($size * <%= svgItem.relPositionY %>);
    background-size: rem($size * <%= relWidth %>) rem($size * <%= relHeight %>);
  }
  @mixin <%= common %>-i-<%= svgItem.name %>-size($size) {
    width: rem($size * <%= svgItem.relWidth %>);
    height: rem($size * <%= svgItem.relHeight%>);
    background-position: rem($size * <%= svgItem.relPositionX %>) rem($size * <%= svgItem.relPositionY %>);
    background-size: rem($size * <%= relWidth %>) rem($size * <%= relHeight %>);
  }
  @mixin <%= common %>-i-<%= svgItem.name %>-module($display: inline-block) {
    content: '';
    display: inline-block;
    width: rem($size * <%= svgItem.relWidth %>)em;
    height: rem($size * <%= svgItem.relHeight%>)em;
    background-image: url("<$= svgPath %>");
    background-repeat: no-repeat;
    background-position: rem($size * <%= svgItem.relPositionX %>) rem($size * <%= svgItem.relPositionY %>)em;
    background-size: rem($size * <%= relWidth %>) rem($size * <%= relHeight %>)em;
  }
<% }); %>
